<style>
  .banner {
    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-pago-titulo {
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 2em;

  }
</style>
<div class="banner">
  <h2 class="banner-pago-titulo">BANNER DE PAGO</h2>
</div>